#company{
    color: greenyellow;
}
#firstrow{
    margin: 20px;
}
#secondrow{
     margin: 20px;
  width: 500px;
}
#thirdrow{
    margin: 20px;
 width: 500px;
}
#container{ 
    background-color: lightgrey;
    margin-top: 60px;
   
}
#fourthrow{
    margin: 20px;
}
#fivthrow{
    margin: 20px;
    width: 200px;
}
#sixthrow{
    margin: 20px;
}
#seventhrow{
    margin: 20px;
}
#eigthrow{
    margin: 20px;
    width: 500px;
    }
    #ninthrow{
        margin: 20px;   
    }
    #tenthrow{
        margin: 20px;
    }
    #leventhrow{
        margin: 20px;
    }
#firstfile{
    margin-top: 35px;
}
#twelthrow{
    margin: 20px;
    width: 500px;   
}
#thirteenrow{
    margin: 20px;
    width: 500px;       
}
#fourteenthrow{
    margin: 20px;   
}
#fifteenthrow{
    margin: 20px;   
} 
#sixteenrow{
    margin: 20px;
    width: 500px;       
}
#seventeenrow{
    margin: 20px;
    width: 500px;          
}
#eighteenrow{
    text-align: center;
    margin: top 20px; 
} 
#nineteenthrow{
    margin: 40px; 
}  

